.idea/
Results/
*.pyc
*log.html
*report.html
*output.xml
*debug.log
selenium-screenshot-*.png
test-results/
Result_execution/
out/
output/
videos/
venv/
/pabot_results/0/
/.pabotsuitenames
/api_results/pabot_results/0/robot_stdout.out
/api_results/pabot_results/0/robot_stderr.out
/api_results/pabot_results/
/example_stats.csv
/example_failures.csv
/example_stats_history.csv
/node_modules/
package-lock.json